<div class="component contact">
	<form>

		<div class="row">

			<div class="col-xs-12 col-sm-6">

				<div class="form-field error">
					<label>First name<span class="required">Required</span></label>
					<input type="text" name="firstname">
				</div>

				<div class="form-field">
					<label>Last name<span class="required">Required</span></label>
					<input type="text" name="lastname">
				</div>

				<div class="form-field">
					<label>Company/Publication</label>
					<input type="text" name="company">
				</div>

				<div class="form-field">
					<label>Email</label>
					<input type="text" name="email">
				</div>

				<div class="form-field">
					<label>Telephone</label>
					<input type="text" name="telephone">
				</div>

			</div>

			<div class="col-xs-12 col-sm-6">
				<p class="push h20"></p>

				<label>Comments<span class="required">Required</span></label>
				<textarea name="comments" rows="18" cols="30"></textarea>

			</div>

		</div>

		<p class="push h20"></p>

	</form>

	<p class="push h20"></p>

	<include src="../components/_button.html"></include>

</div>