<div class="component event">
	<h2>Lorem ipsum dolor sit amet, consectetur adipiscing</h2>

	<h3>July 20th 2016 @ 11:00 - 2:30</h3>

	<include src="../components/_body-copy.html"></include>

	<form>

		<div class="row">

			<div class="col-xs-12 col-sm-4">
				<label>Number of guests</label>
			</div>

			<div class="col-xs-12 col-sm-4">
				<select>
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
				</select>
			</div>

			<div class="col-xs-12 col-sm-4">
				<p class="number"><span>18</span> spaces left on course</p>
			</div>

		</div>

		<p class="push h20"></p>

		<div class="row">

			<div class="col-xs-12 col-sm-4">
				<label>Total</label>
			</div>

			<div class="col-xs-12 col-sm-4">
				<p class="total">£120</p>
			</div>

		</div>

	</form>

	<p class="push h20"></p>

	<include src="../components/_button.html"></include>

</div>