<div class="component gallery">

		<div class="camera_wrap">
	    <div data-thumb="HTMLResources/img/gallery/gallery-thumb-1.png" data-src="HTMLResources/img/gallery/gallery-large-1.png">
	    	<div class="camera_caption fadeIn">The text of your caption</div>
	    </div>
	    <div data-thumb="HTMLResources/img/gallery/gallery-thumb-1.png" data-src="HTMLResources/img/gallery/gallery-large-2.png">
	    	<div class="camera_caption fadeIn">The text of your caption</div>
	    </div>
	    <div data-thumb="HTMLResources/img/gallery/gallery-thumb-1.png" data-src="HTMLResources/img/gallery/gallery-large-1.png">
	    	<div class="camera_caption fadeIn">The text of your caption</div>
	    </div>
	    <div data-thumb="HTMLResources/img/gallery/gallery-thumb-1.png" data-src="HTMLResources/img/gallery/gallery-large-2.png">
	    	<div class="camera_caption fadeIn">The text of your caption</div>
	    </div>
	    <div data-thumb="HTMLResources/img/gallery/gallery-thumb-1.png" data-src="HTMLResources/img/gallery/gallery-large-1.png">
	    	<div class="camera_caption fadeIn">The text of your caption</div>
	    </div>
	    <div data-thumb="HTMLResources/img/gallery/gallery-thumb-1.png" data-src="HTMLResources/img/gallery/gallery-large-2.png">
	    	<div class="camera_caption fadeIn">The text of your caption</div>
	    </div>
	    <div data-thumb="HTMLResources/img/gallery/gallery-thumb-1.png" data-src="HTMLResources/img/gallery/gallery-large-1.png">
	    	<div class="camera_caption fadeIn">The text of your caption</div>
	    </div>
	    <div data-thumb="HTMLResources/img/gallery/gallery-thumb-1.png" data-src="HTMLResources/img/gallery/gallery-large-2.png">
	    	<div class="camera_caption fadeIn">The text of your caption</div>
	    </div>
	    <div data-thumb="HTMLResources/img/gallery/gallery-thumb-1.png" data-src="HTMLResources/img/gallery/gallery-large-1.png">
	    	<div class="camera_caption fadeIn">The text of your caption</div>
	    </div>
	    <div data-thumb="HTMLResources/img/gallery/gallery-thumb-1.png" data-src="HTMLResources/img/gallery/gallery-large-2.png">
	    	<div class="camera_caption fadeIn">The text of your caption</div>
	    </div>
	    <div data-thumb="HTMLResources/img/gallery/gallery-thumb-1.png" data-src="HTMLResources/img/gallery/gallery-large-1.png">
	    	<div class="camera_caption fadeIn">The text of your caption</div>
	    </div>
	    <div data-thumb="HTMLResources/img/gallery/gallery-thumb-1.png" data-src="HTMLResources/img/gallery/gallery-large-2.png">
	    	<div class="camera_caption fadeIn">The text of your caption</div>
	    </div>
		</div>

</div>