<div class="component posts">
	
	<div class="row">
		<div class="col-xs-12 col-sm-4">
      
      <a href="#" class="item">
				<figure>
			  	<img src="HTMLResources/img/image-posts.png" alt="Image description" />
				</figure>

	      <div class="date">
	      	July 20th 2016
	      </div>

	      <div class="title">
	      	Wellaborat unt anditatem rem fugia imilitat. A qui tatquodi gnimint vol.
	      </div>

	      <p>Wellaborat unt anditatem rem fugia imilitat.Orest, odipis porem sunt eossitatur solora.</p>
    	</a>

		</div>

		<div class="col-xs-12 col-sm-4">

			<a href="#" class="item">
				<figure>
			  	<img src="HTMLResources/img/image-posts.png" alt="Image description" />
				</figure>

	      <div class="date">
	      	July 20th 2016
	      </div>

	      <div class="title">
	      	Wellaborat unt anditatem rem fugia imilitat. A qui tatquodi gnimint vol.
	      </div>

	      <p>Wellaborat unt anditatem rem fugia imilitat.Orest, odipis porem sunt eossitatur solora.</p>
    	</a>

		</div>

		<div class="col-xs-12 col-sm-4">

			<a href="#" class="item">
				<figure>
			  	<img src="HTMLResources/img/image-posts.png" alt="Image description" />
				</figure>

	      <div class="date">
	      	July 20th 2016
	      </div>

	      <div class="title">
	      	Wellaborat unt anditatem rem fugia imilitat. A qui tatquodi gnimint vol.
	      </div>

	      <p>Wellaborat unt anditatem rem fugia imilitat.Orest, odipis porem sunt eossitatur solora.</p>
    	</a>

		</div>
	</div>

	<div class="push h40"></div>

	<div class="row">
		<div class="col-xs-12 col-sm-4">
      
      <a href="#" class="item">
				<figure>
			  	<img src="HTMLResources/img/image-posts.png" alt="Image description" />
				</figure>

	      <div class="date">
	      	July 20th 2016
	      </div>

	      <div class="title">
	      	Wellaborat unt anditatem rem fugia imilitat. A qui tatquodi gnimint vol.
	      </div>

	      <p>Wellaborat unt anditatem rem fugia imilitat.Orest, odipis porem sunt eossitatur solora.</p>
    	</a>

		</div>

		<div class="col-xs-12 col-sm-4">

			<a href="#" class="item">
				<figure>
			  	<img src="HTMLResources/img/image-posts.png" alt="Image description" />
				</figure>

	      <div class="date">
	      	July 20th 2016
	      </div>

	      <div class="title">
	      	Wellaborat unt anditatem rem fugia imilitat. A qui tatquodi gnimint vol.
	      </div>

	      <p>Wellaborat unt anditatem rem fugia imilitat.Orest, odipis porem sunt eossitatur solora.</p>
    	</a>

		</div>

		<div class="col-xs-12 col-sm-4">

			<a href="#" class="item">
				<figure>
			  	<img src="HTMLResources/img/image-posts.png" alt="Image description" />
				</figure>

	      <div class="date">
	      	July 20th 2016
	      </div>

	      <div class="title">
	      	Wellaborat unt anditatem rem fugia imilitat. A qui tatquodi gnimint vol.
	      </div>

	      <p>Wellaborat unt anditatem rem fugia imilitat.Orest, odipis porem sunt eossitatur solora.</p>
    	</a>

		</div>
	</div>

	<include src="../components/_button.html"></include>

</div>