<div class="component download">
	
	<div class="row">
		<div class="col-xs-12 col-sm-4">
      
      <div class="item">
				<figure>
			  	<img src="HTMLResources/img/image-posts.png" alt="Image description" />
				</figure>

	      <div class="title">
	      	Wellaborat unt anditatem rem fugia imilitat. A qui tatquodi gnimint vol.
	      </div>

	      <p>Wellaborat unt anditatem rem fugia imilitat.Orest, odipis porem sunt eossitatur solora.</p>

	      <a href="#">Download PDF</a>
    	</div>

		</div>

		<div class="col-xs-12 col-sm-4">

			<div class="item">
				<figure>
			  	<img src="HTMLResources/img/image-posts.png" alt="Image description" />
				</figure>

	      <div class="title">
	      	Wellaborat unt anditatem rem fugia imilitat. A qui tatquodi gnimint vol.
	      </div>

	      <p>Wellaborat unt anditatem rem fugia imilitat.Orest, odipis porem sunt eossitatur solora.</p>

	      <a href="#">Download PDF</a>
    	</div>

		</div>

		<div class="col-xs-12 col-sm-4">

			<div class="item">
				<figure>
			  	<img src="HTMLResources/img/image-posts.png" alt="Image description" />
				</figure>

	      <div class="title">
	      	Wellaborat unt anditatem rem fugia imilitat. A qui tatquodi gnimint vol.
	      </div>

	      <p>Wellaborat unt anditatem rem fugia imilitat.Orest, odipis porem sunt eossitatur solora.</p>

	      <a href="#">Download PDF</a>
    	</div>

		</div>
	</div>

</div>