<div class="component list">

	<div class="row">

		<ul class="col-sm-12 col-sm-6">
			<li>
				<span>Q. Lorem ipsum dolor sit amet, consectetur adipiscing elit?</span>
				<span class="answer">A. Lorem ipsum dolor sit amet, consectetur adipiscing elit?</span>
			</li>
			<li>
				<span>Q. Lorem ipsum dolor sit amet, consectetur adipiscing elit?</span>
				<span class="answer">A. Lorem ipsum dolor sit amet, consectetur adipiscing elit?</span>
			</li>
			<li>
				<span>Q. Lorem ipsum dolor sit amet, consectetur adipiscing elit?</span>
				<span class="answer">A. Lorem ipsum dolor sit amet, consectetur adipiscing elit?</span>
			</li>
			<li>
				<span>Q. Lorem ipsum dolor sit amet, consectetur adipiscing elit?</span>
				<span class="answer">A. Lorem ipsum dolor sit amet, consectetur adipiscing elit?</span>
			</li>
			<li>
				<span>Q. Lorem ipsum dolor sit amet, consectetur adipiscing elit?</span>
				<span class="answer">A. Lorem ipsum dolor sit amet, consectetur adipiscing elit?</span>
			</li>
			<li>
				<span>Q. Lorem ipsum dolor sit amet, consectetur adipiscing elit?</span>
				<span class="answer">A. Lorem ipsum dolor sit amet, consectetur adipiscing elit?</span>
			</li>
			<li>
				<span>Q. Lorem ipsum dolor sit amet, consectetur adipiscing elit?</span>
				<span class="answer">A. Lorem ipsum dolor sit amet, consectetur adipiscing elit?</span>
			</li>
		</ul>

		<ul class="col-sm-12 col-sm-6">
			<li>
				<span>Q. Lorem ipsum dolor sit amet, consectetur adipiscing elit?</span>
				<span class="answer">A. Lorem ipsum dolor sit amet, consectetur adipiscing elit?</span>
			</li>
			<li>
				<span>Q. Lorem ipsum dolor sit amet, consectetur adipiscing elit?</span>
				<span class="answer">A. Lorem ipsum dolor sit amet, consectetur adipiscing elit?</span>
			</li>
			<li>
				<span>Q. Lorem ipsum dolor sit amet, consectetur adipiscing elit?</span>
				<span class="answer">A. Lorem ipsum dolor sit amet, consectetur adipiscing elit?</span>
			</li>
			<li>
				<span>Q. Lorem ipsum dolor sit amet, consectetur adipiscing elit?</span>
				<span class="answer">A. Lorem ipsum dolor sit amet, consectetur adipiscing elit?</span>
			</li>
			<li>
				<span>Q. Lorem ipsum dolor sit amet, consectetur adipiscing elit?</span>
				<span class="answer">A. Lorem ipsum dolor sit amet, consectetur adipiscing elit?</span>
			</li>
			<li>
				<span>Q. Lorem ipsum dolor sit amet, consectetur adipiscing elit?</span>
				<span class="answer">A. Lorem ipsum dolor sit amet, consectetur adipiscing elit?</span>
			</li>
			<li>
				<span>Q. Lorem ipsum dolor sit amet, consectetur adipiscing elit?</span>
				<span class="answer">A. Lorem ipsum dolor sit amet, consectetur adipiscing elit?</span>
			</li>
		</ul>

	</div>

</div>