<div class="component list">
	
	<ul>
		<li><span>Q. Lorem ipsum dolor sit amet, consectetur adipiscing elit?</span></li>
		<li class="answer">A. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>

		<li><span>Q. Lorem ipsum dolor sit amet, consectetur adipiscing elit?</span></li>
		<li class="answer">A. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>

		<li><span>Q. Lorem ipsum dolor sit amet, consectetur adipiscing elit?</span></li>
		<li class="answer">A. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>

		<li><span>Q. Lorem ipsum dolor sit amet, consectetur adipiscing elit?</span></li>
		<li class="answer">A. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>

		<li><span>Q. Lorem ipsum dolor sit amet, consectetur adipiscing elit?</span></li>
		<li class="answer">A. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>

		<li><span>Q. Lorem ipsum dolor sit amet, consectetur adipiscing elit?</span></li>
		<li class="answer">A. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>

		<li><span>Q. Lorem ipsum dolor sit amet, consectetur adipiscing elit?</span></li>
		<li class="answer">A. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
	</ul>

</div>