.component.share {
	text-align: center;

	span {
		font-weight: 500;
		line-height: 28px;
	}
	
	ul {
		margin-top: 12px;

		li {
			display: inline-block;
			margin: 0 4px;

			a {
				display: block;
				width: 30px;
				height: 30px;
				border-radius: 50%;
				background: $charcoal;
				color: $white;

				&:hover {
					background: $red;
				}

				i {
					line-height: 30px;
				}

			}
		}
	}
}