@charset "CP850";
@import "framework/variables";

/******************************
* GENERAL STYLES
******************************/
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;   
  height: 100%;
}

body {
  font: 18px 'FuturaPT', sans-serif;
  font-weight: normal;
  color: $charcoal;
  -webkit-tap-highlight-color: transparent;
  @include font-smoothing();
  text-rendering: optimizeLegibility;
  background: $lightgrey;
}

a {
  color: $red;

  &:hover, &:focus, &:active {
    color: $charcoal;
  }
}

a img {
    border: none;
}

img {
    border: none;
    max-width: 100%;
    display: block;
}

strong {
  font-weight: 700; 
}

p {
  font-size: 18px;
  line-height: 26px;

  .standfirst & {
    font-size: 24px;
    line-height: 30px;
  }
}


/******************************
* HEADER STYLES
******************************/
h1, h2, h3, h4, h5, h6 {
  text-rendering: optimizeLegibility;
}

h1 {
  padding-bottom: 20px;
  font-size: 36px;
  line-height: 36px;
  letter-spacing: 0.1em;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  padding-bottom: 12px;
  font-size: 24px;
  font-weight: 800;
  line-height: 26px;

  .subtitle & {
    font-size: 42px;
    font-weight: normal;
    line-height: 42px;
    text-align: center;
    text-transform: none;
  }
}

h3 {
  font-size: 32px;
  line-height: 32px;
}

h4 {
  font-size: 28px;
  font-weight: 700;
  line-height: 28px;
}

h5 {
  font-size: 24px;
  line-height: 24px;
  color: $charcoal;
}

h6 {
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}


/******************************
* HEADER
******************************/
.navbar-default {
  z-index: 10;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 80px 0;
  text-align: center;
  box-shadow: none;
  transition: .6s;
  background: $white;

  &.menu-active {
    padding: 20px 0;

    .pull-right {

      .links ul {
        display: block;
      }

    }

  }

  &.slideOutUp {
    padding: 20px 0;
    background: $black;

    .pull-left {
      .logo {
        margin-top: 0;
        color: $white;
      }
    }

    .pull-right {

      .language {
        opacity: 0;
        margin-bottom: 12px;
        font-size: 0;
        line-height: normal;
      }

      .links {

        .menu {
          color: $white;
        }

        li a {
          color: $white;

          &:hover {
            color: $grey;
          }
        }
      }
    }

  }

  .pull-left {
    z-index: 1;
    position: relative;
    width: auto;

    .logo {
      font-size: 26px;
      font-weight: 800;
      line-height: 38px;
      color: $black;
      transition: .6s;

      @media (min-width: $tablet) {    
        font-size: 48px;
        line-height: 48px;
      }

    }
  }
  
  .pull-right {
    position: relative;
    width: 100%;
    margin-top: -34px;

    .language {
      position: absolute;
      top: -62px;
      right: 0;
      min-width: 68px;
      opacity: 1;
      font-size: 14px;
      line-height: 24px;

      select {
        appearance: none;
        border: none;
        outline: none;
        background: transparent;

        option {
          appearance: none; 
          color: $white;
          background: $black;
        }
      }

    }

    .links {
      clear: both;
      float: right;
      width: 100%;
      font-size: 20px;
      text-align: center;

      @media (min-width: $desktop) {    
        text-align: right;
      }

      .menu {
        display: block;
        float: right;
        width: 40px;
        height: 40px;
        margin-top: -6px;
        cursor: pointer;

        @media (min-width: $tablet) {    
          margin-top: -10px;
        }

        @media (min-width: $desktop) {    
          display: none;
        }

        i {
          font-size: 30px;
          line-height: 40px;
        }

      }

      ul {
        display: none;
        clear: both;
        float: left;
        width: 100%;

        @media (min-width: $desktop) {    
          display: block;
        }

        li {
          display: block;

          @media (min-width: $desktop) {    
            display: inline-block;
            margin-left: 20px;
          }

          a {
            display: block;
            padding: 20px 0;
            font-size: 15px;
            font-weight: 600;
            line-height: 18px;
            color: $grey;
            text-transform: uppercase;

            @media (min-width: $desktop) {    
              padding: 0;
            }

            &:hover {
              color: $black;
            }
          }
        }
      }
    }

  }
}


/******************************
* STRUCTURE
******************************/
#wrapper {
  margin-top: 208px;

  .container {
    max-width: 916px;

    .row.white {
      background: $white;
    }
  }

  .component {
    margin-bottom: 40px;

    @media (max-width: $mobile) {
      margin-bottom: 20px;
    }
  }

  .bg-white {
    background: $white;
  }
}


/******************************
* FORMS
******************************/
form {

  &.invalid {

    .form-field {

      .wpcf7-form-control-wrap {

        .wpcf7-not-valid-tip {
          display: block;
        }

        .wpcf7-not-valid {
          border: 1px solid $red;

          ~ .icons {
            i.err {
              display: block;
              color: $red;
            }
          }
        }

      }

      .required {
        display: none;
      }

    }
  
  }

  &.failed {

  }

  &.sent {

    .wpcf7-mail-sent-ok {
      background: $charcoal;
    }

    i.ok {
      display: block;
    }

  }

  .wpcf7-validation-errors,
  .wpcf7-mail-sent-ng {
    margin: 0;
    padding: 20px;
    color: $white;
    text-align: center;
    border: none;
    background: $red;
  }

  .form-field {
    position: relative;
    margin-top: 20px;

    .wpcf7-not-valid-tip {
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      font-size: 12px;
      line-height: 28px;
      color: $red;
    }

    i {
      display: none;
      position: absolute;
      right: 10px;
      top: 39px;
      font-size: 26px;
      color: $charcoal;
    }
  }

  label {
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;

    .required {
      float: right;
      font-size: 12px;
      font-weight: normal;
      text-transform: none;
    }
  }

  input, select, textarea {
    width: 100%;
    padding: 12px 10px;
    border: 1px solid $formgrey;
  }

  input, textarea {
    padding-right: 40px;
  }

  .select-wrapper {
    background: $white;

    select {
      z-index: 1;
      position: relative;
      appearance: none;
      border-radius: 0;
      background: transparent;
    }

    i {
      display: block;  
      top: 44px;
      font-size: 18px;
    }

  }

}


/******************************
* HOME PAGE
******************************/
.home {
  width: 100%;
  height: 100%;
  overflow: hidden;

  .fullpage {
    height: 100%;
  }

  #fullpagelanding {
    display: none;
  }

  .backstretch {
    img{
      animation: scaling 50s;
      animation-fill-mode: forwards;
    }

    @keyframes scaling {
      from {
          transform: scale(1.0);
      }
      to {
          transform: scale(2.0);
      }
    }
  }

  .navbar-default {
    background: rgba($grey, 0.5);

    .pull-left {
      .logo {
        color: #fff;
      }
    }

    .pull-right {
      .language, .links a, .menu {
        color: #fff;
      }
    }

  }

  .share {
    display: none;
  }

  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0;
  }

}


/******************************
* FOOTER
******************************/
#tribe-events-pg-template {
    max-width: none;
}


/******************************
* FOOTER
******************************/
footer {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 40px;
  background: $black;

  .footer-nav-container {
    padding: 20px 0;
    font-size: 13px;

    span, ul {
      display: block;

      @media (min-width: $tablet) {    
        display: inline-block;
      }
    }

    span {
      color: $grey;
    }

    a {
      color: $white;

      @media (min-width: $tablet) {    
        margin-left: 10px;
        padding-left: 10px;
        border-left: 1px solid $white;
      }

      &:hover {
        color: $red;
      }
    }
  }

}


/******************************
* TEMPLATE SPACING
******************************/
.push {
  clear: both;

  &.h20 { height: 20px; }
  &.h25 { height: 25px; }
  &.h40 { height: 40px; }
  &.h60 { height: 60px; }
  &.h70 { height: 70px; }
  &.h80 { height: 80px; }
  &.h100 { height: 100px; }
  &.h120 { height: 120px; }
  &.h140 { height: 140px; }
  &.h160 { height: 160px; }
}


/******************************
* GRID OVERLAY
******************************/
#grid-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.2;
  overflow: hidden;

  .container {
    max-width: 916px;

    div span {
      display: block;
      height: 2000px;
      background: red;
    }
  }

}