<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
	<include src="../structure/_html-header.html"></include>
</head>

<body>
		<div id="wrapper">

      <include src="../structure/_header.html"></include>
      
      <include src="../components/_image-fullwidth.html"></include>

      <div class="container">

      	<div class="row">
      		<div class="col-xs-12">
            
            <p class="push h60"></p>

            <include src="../components/_title.html"></include>

      		</div>
      	</div>

        <div class="row">
          <div class="col-xs-12 col-sm-8 col-sm-offset-2">

            <include src="../components/_standfirst.html"></include>

            <include src="../components/_body-copy.html"></include>

            <include src="../components/_body-copy.html"></include>

            <include src="../components/_body-copy.html"></include>

            <include src="../components/_body-copy.html"></include>

            <include src="../components/_body-copy.html"></include>

          </div>
        </div>
      </div>

      <div class="push-sf"></div> <!-- for sticky footer -->
		</div><!-- .wrapper -->
		<include src="../structure/_footer.html"></include>
  </body>
</html>