<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
	<include src="../structure/_html-header.html"></include>
</head>

<body class="home">

    <div id="fullpagelanding" class="fullpage">
      <img src="HTMLResources/img/home-bg-1.jpg">
      <img src="HTMLResources/img/home-bg-2.jpg">
      <img src="HTMLResources/img/home-bg-3.jpg">
    </div>

		<div id="wrapper">
      <include src="../structure/_header.html"></include>
      
      <div id="main">
      
      </div><!-- #main -->
      <div class="push-sf"></div> <!-- for sticky footer -->
		</div><!-- .wrapper -->

		<include src="../structure/_footer.html"></include>

  </body>
</html>